{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo</title>
    <!-- <link rel="stylesheet" href="./styles/index.css" /> -->
    <link rel="stylesheet" href="{% static 'styles/index.css' %}" />
    <!-- <link rel="stylesheet" href="./styles/checkbox.css"> -->
    <link rel="stylesheet" href="{% static 'styles/checkbox.css' %}">
</head>
<body>
    <form action="{% url 'add-book' $}" method="POST">
        {% csrf_token %}
        <h>Добавить книгу</h><br></form>
        <input type="text" name="title" placeholder="Заголовок"><br></br>
        <input type="text" name="subtitle" placeholder="Подзаголовок"><br></br>
        <input type="text" name="description" placeholder="Описание"><br></br>
        <input type="number" name="price" placeholder="Цена"><br></br>
        <input type="text" name="genre" placeholder="Жанр"><br></br>
        <input type="text" name="author" placeholder="Автор"><br></br>
        <input type="datetime-local" name="date" placeholder="год"><br></br>
        <button>Добавить</button>
    </form>
    <hr>{% for book in books %}
        <div>
            <h3>{{ book.title }} - {{ book.autor }}</h3>
            <h4>{{ book.pries }}</h4>
        </div>
        <hr>
    {% endfor %}
    </body>
</html>