{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Todo </title>
    <!--<link rel="stylesheet" href="./styles/index.css" /> -->
    <link rel="stylesheet" href="{% static 'styles/index.css' %}" /> 
   <!-- <link rel="stylesheet" href="./styles/checkbox.css"> -->
    <link rel="stylesheet" href="{% static 'styles/checkbox.css' %}"> 
</head>
<body>
    <section>
         <div class="create_container">
             <input 
               class="create_input" 
               type = "text" 
               placeholder="Напиши сюда новую задачу"/>
             <button class="create_button">Добавить</button></div>
        
         <div class="todo_container">
             <div class="todo_item">
                 <div class="todo_item header">
                     <label class="checkbox_container">
                         <input type="checkbox" />
                         <span class="checkmark"></span></label>
                     <h4>Купить молоко</h4></div>
                 <div class="todo_item_footer">
                     <p>23.01.2021 <span>19:44</span></p>
                     <div class="action_buttons">
                         <img src="https://cdn.icon-icons.com/icons2/390/PNG/512/trash-can_38501.png" />
                         <img src="https://cdn.icon-icons.com/icons2/1697/PNG/256/60instagramhighlighticons06_112052.png" /></div></div></div>

             <div class="todo_item marked">
                 <div class="todo_item header">
                     <label class="checkbox_container">
                         <input type="checkbox" />
                         <span class="checkmark"></span></label>
                     <h4>Купить молоко</h4></div>
                 <div class="todo_item_footer">
                     <p>23.01.2021 <span>19:44</span></p>
                     <div class="action_buttons">
                         <img src="https://cdn.icon-icons.com/icons2/390/PNG/512/trash-can_38501.png" />
                         <img src="https://cdn.icon-icons.com/icons2/1697/PNG/256/60instagramhighlighticons06_112052.png" />
                        
                     </div>
                 </div>
             </div>

             <div class="todo_item done">
                 <div class="todo_item header" s>
                     <label class="checkbox_container">
                         <input type="checkbox" checked/>
                         <span class="checkmark"></span></label>
                     <h4>Купить молоко</h4></div>
                 <div class="todo_item_footer">
                     <p>23.01.2021 <span>19:44</span></p>
                     <div class="action_buttons">
                         <img src="https://cdn.icon-icons.com/icons2/390/PNG/512/trash-can_38501.png" />
                         <img src="https://cdn.icon-icons.com/icons2/1697/PNG/256/60instagramhighlighticons06_112052.png" />
                     </div>
                 </div>
             </div>

             <div class="todo_item done">
                 <div class="todo_item header" s>
                     <label class="checkbox_container">
                         <input type="checkbox" checked/>
                         <span class="checkmark"></span>
                     </label>
                     <h4>Купить молоко</h4>
                 </div>
                 <div class="todo_item_footer">
                     <p>23.01.2021 <span>19:44</span></p>
                     <div class="action_buttons">
                         <img src="https://cdn.icon-icons.com/icons2/390/PNG/512/trash-can_38501.png" />
                         <img src="https://cdn.icon-icons.com/icons2/1697/PNG/256/60instagramhighlighticons06_112052.png" />
                     </div>
                 </div>
             </div>

             <div class="todo_item">
                 <div class="todo_item header">
                     <label class="checkbox_container">
                         <input type="checkbox" />
                         <span class="checkmark"></span>
                     </label>
                     <h4>Купить молоко</h4>
                 </div>
                 <div class="todo_item_footer">
                     <p>23.01.2021 <span>19:44</span></p>
                     <div class="action_buttons">
                         <img src="https://cdn.icon-icons.com/icons2/390/PNG/512/trash-can_38501.png" />
                         <img src="https://cdn.icon-icons.com/icons2/1697/PNG/256/60instagramhighlighticons06_112052.png" />
                     </div>
                 </div>
             </div>

             <div class="todo_item done">
                 <div class="todo_item header">
                     <label class="checkbox_container">
                         <input type="checkbox" checked/>
                         <span class="checkmark"></span>
                     </label>
                     <h4>Купить молоко</h4>
                 </div>
                 <div class="todo_item_footer">
                     <p>23.01.2021 <span>19:44</span></p>
                     <div class="action_buttons">
                         <img src="https://cdn.icon-icons.com/icons2/390/PNG/512/trash-can_38501.png" />
                         <img src="https://cdn.icon-icons.com/icons2/1697/PNG/256/60instagramhighlighticons06_112052.png" />
                     </div>
                 </div>
             </div>
        
        </div>
    </section>
</body>
</html>